#content {
	width: 70%;
	padding-top: 10px;
	float: right;
	.data-control {
		h3.title {
			color: #444444;
			font-size: 24px;
			border-left: 10px solid #0099CC;
			border-bottom: 1px solid #979797;
			padding-left: 20px;
			line-height: 40px;
			position: relative;
			a {
				position: absolute;
				right:5px;
				top:16px;
				font-size: 14px;
				color: #444444;
				line-height: 14px;
				cursor: pointer;
			}
		}
		.responsive {
			width: 95%;
			margin: 0 auto;
		}
	}
	ul.icolud-product {
		@include ul;
		width: 100%;
		margin: 40px 0 130px;
		font-size: 0;
		li {
			width: 15.3%;
			display: inline-block;
			vertical-align: top;
			margin: 0 1.5% 0 0;
			position: relative;
			&:last-child {
				margin-right: 0;
			}
			a {
				width: 100%;
				display: block;
				min-height: 150px;
				background: url(php_static_url("/application/static/img/data-control.png")) no-repeat;
				background-size: 100% 100%;
				margin: 0 auto;
				padding: 12px;
			}
			h4 {
				font-size: 18px;
				color: #FFFFFF;
				margin-top: 0;
				line-height: 19px;
			}
			span {
				display: block;
				font-size: 14px;
				color: #FFFFFF;
				line-height: 20px;
			}
			.product-icon{
				position: absolute;
				bottom: 12px;
				right: 12px;
				display: block;
			}
			.icon-calculate {
				background:  url(php_static_url("/application/static/img/product/icon-calculate.png")) no-repeat;
				width: 36px;
				height: 34px;
			}
			.icon-storage {
				background: url(php_static_url("/application/static/img/product/icon-storage.png")) no-repeat;
				width: 40px;
				height: 40px;
			}
			.icon-network {
				background: url(php_static_url("/application/static/img/product/icon-network.png")) no-repeat;
				width: 37px;
				height: 36px;
			}
			.icon-security {
				background: url(php_static_url("/application/static/img/product/icon-security.png")) no-repeat;
				width: 33px;
				height: 38px;
			}
			.icon-management {
				background: url(php_static_url("/application/static/img/product/icon-management.png")) no-repeat;
				width: 39px;
				height: 38px;
			}
			.icon-software {
				background: url(php_static_url("/application/static/img/product/icon-software.png")) no-repeat;
				width: 37px;
				height: 46px;
			}
		}
	}
}
@mixin product-mobile(){
	#workbench {
		margin-top: 80px;
	}
	.row{
		width: 100%;
	}
	#meun{
		display: none;
	}
	#content{
		width: 100%;
		.data-control{
			h3.title{
				color: #444444;
				font-size: 18px;
				border-left: 8px solid #0099CC;
				border-bottom: 1px solid #979797;
				padding-left: 20px;
				line-height: 27px;
				margin-top: 5px;
				position: relative;
				a {
					display: none;
				}
			}
			.responsive {
				width: 100%;
				margin: 0 auto;
				border-bottom: 10px solid #F3F3F3;
			}
		}
	}
	#right_fixed{
		display: none;
	}
	#content {
		ul.icolud-product{
			width: 92%;
			margin: 0 auto 40px;
			li {
				width: 46%;
				margin: 5px 2%;
			}
		}
	}
}
@mixin fix-mobile(){
	@include product-mobile();
	@include fix-mobile-header();
	@include fix-mobile-footer();
}
@mixin fix-ipad(){
	//@include product-desktop();
	@include fix-ipad-header();
	@include fix-ipad-footer();
	.workbench .submenu-content {
		margin: 0 auto;
		width: 90%;
	}
	#content {
		ul.icolud-product{
			width: 92%;
			margin: 0 auto 40px;
			li {
				width: 28%;
				margin: 5px 2%;
			}
		}
	}
}
@mixin fix-desktop(){
	//@include product-desktop();
}



@mixin section_product_product($args...) {
	@include device-desktop() {
		@include fix-desktop();
	}
	@include device-mobile() {
		@include fix-mobile();
	}
	@include device-ipad() {
		@include fix-ipad();
	}
}